.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

#navbar{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 20px;
  margin: 20px;
}

#main-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add more styling for other elements if needed */
